<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "BlogPosting",
  "headline": "{{ .Title }}",
  "description": "{{ with .Description }}{{ . }}{{ else }}{{ .Site.Params.defaultMetaDescription }}{{ end }}",
  "url": "{{ .Permalink }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": { "@id": "https://drnorfaizal.com/#physician" },
  "publisher": { "@id": "https://drnorfaizal.com/#physician" },
  "image": "{{ (.Params.ogImage | default .Site.Params.ogImage) | absURL }}",
  "mainEntityOfPage": "{{ .Permalink }}"
}
</script>
